.about-1stsec .container {
    background-color: #fff7e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contact.css */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}